*{
    margin: auto;
    padding: auto;
}
body{
    width: 1000px;
    background-color: beige;
}
header{
    background-color: black;
    color: white;
    float: left;
    width: 1000px;
}
header img{
    width: 100px;
    float: left;
}

header h1{
    float: right;
    font-size: 70px;
    text-align: left;
    padding-right: 100px;
}

#menuPincipal ul{
    float: right;

}
#menuPincipal ul li{
    font-size: 25px;
    margin-top: 20px;
    margin-right: 10px;
    float: left;
    display: inline;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#menuPincipal ul li:hover{
    color: blue;
    border-bottom: 1px solid red;
}
section{
    background-color: chartreuse;
    float: left;
    width: 900px;
}
.PrimerDiv{
    width: 295px;
    border: 1px solid red;
    float: left;
}
.PrimerDiv img{
    width: 150px;
    float: left;
}
.PrimerDiv p{
    padding-top: 4px;
    font-size: 30px;
    width: 144px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.CuartoDiv{
    width: 295px;
    border: 1px solid blue;
    float: left;
}
.CuartoDiv img{
    width: 150px;
    float: right;
}
.CuartoDiv p{
    padding-top: 4px;
    font-size: 30px;
    width: 144px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
aside{
    background-color: wheat;
    float: right;
    width: 100px;
    height: 400px;
}
footer{
    background-color: black;
    color: white;
    float: left;
    width: 1000px;
    height: 80px;
}
footer h1{
    float: right;
    font-size: 70px;
    text-align: left;
    padding-right: 100px;
}
footer ul li{
    display: inline;
}
footer ul li img{
    padding-left: 70px;
    margin-top: 20px;
    width: 30px;
}
.textoFooter{
    font-size: 30px;
    padding-top: -20px;
}

/*Tablet*/
@media screen and (max-width: 1200px) {
	#secundario{
		display:flex;
		/* DIRECCIÓN DE LOS ELEMENTOS visualice en una columna */
		flex-direction: inline;
	}

	#div1{
        order:1;
    }
    #div2{
        order:2;
    }
    #div3{
        order:3;
    }
    #div4{
        order:4;
    }
    #div5{
        order:5;
    }
    #div6{
        order:6;
    }
    /*----------------------------------------------*/
    .PrimerDiv{
        width: 49%;
    }
    .CuartoDiv{
        width: 49%;
    }
	section:after{
		/* realizar cálculos https://developer.mozilla.org/es/docs/Web/CSS/calc() */
		padding-left: calc(100% / 2 - 3px);
		/* pone contenido despues de visualizar section */
		
    }
}

/*Movil*/
@media screen and (max-width: 1100px) {
	#secundario{
		display:flex;
		/* DIRECCIÓN DE LOS ELEMENTOS visualice en una columna */
		flex-direction: inline;
	}

	#div1{
        order:1;
    }
    #div2{
        order:2;
    }
    #div3{
        order:3;
    }
    #div4{
        order:4;
    }
    #div5{
        order:5;
    }
    #div6{
        order:6;
    }
    /*----------------------------------------------*/
    .PrimerDiv{
        width: 100%;
    }
    .CuartoDiv{
        width: 100%;
    }
    

	section:after{
		/* realizar cálculos https://developer.mozilla.org/es/docs/Web/CSS/calc() */
		padding-left: calc(100% / 2 - 3px);
		/* pone contenido despues de visualizar section */
		
    }
}