body{
    margin: 0;
}

#relativa{
background-color: pink;
position: relative;
width: 10em;
height: 2em;
left: 4em;
}

#flotante{
    background-color: green;
    width: 15em;
    height: 3em;
    left: 1em;
    top: 2em;
    float: right;
}

#fija{
    background-color: yellow;
    position: fixed;
    width: 15em;
    height: 8em;
    left: 20em;
    top: 10em;
}

#Absoluta{
    background-color: blue;
    position: absolute;
    width: 8em;
    height: 3em;
    left: 1em;
    top: 2em;
}

#primero{
    background-color: red;
    width: 100px;
    height: 100px;
}