header{
    height: 10vh;
    background-color: lightblue;
}

#principal{
    display:flex;
    flex-flow: row;
    align-items: stretch;
    min-height: 80%;
    height: 80vh;
}
nav{
    background-color: lightgrey;
    flex: 1 6 20%;
    order: 1;
    
   
    height: 80vh;
}
article{
    background-color: lemonchiffon;
    flex: 1 6 60%;
    order: 2;
    height: 80vh;
}
aside{
    background-color: lightsalmon;
    flex: 1 6 20%;
    order: 3;
    height: 80vh;
}
footer{
    background-color: lightgreen;
    height: 60px;
    height: 10vh;
}

@media all and (max-width: 640px){
    #principal{
        flex-flow: column;
    }
    article{
        order: 1;
        
    }
    aside{
        order: 2;
    }
    nav{
        order: 3;
    }
}