*{
    margin: auto;
}
/*La fuente Microsoft Sans serif no se puede poner Por que es depago*/
/*Aqui pongo em margen automatico para todos los elementos*/
@font-face{
      font-family: PTSans-Italic;
      src: url("fonts/PT_Sans/PTSans-Italic.ttf") format("truetype");
}

/*Aqui pongo la anchura de la paguina*/
body{
    width: 1190px; 
}

/*En el header 
    -Pongo pargen arriba para que no choque el elemento con el techo.
    -Le digo que flote a la izquierda para que el elemento se posicione
        a la izquierda y ademas que el resto de elemento choquen con el.
    -Tambien Le asigno la altura y anchura para que encague bien en su posicion
        con el resto de elementos.
*/
header{
    margin-top: 2vh;
    float: left;
    width: 540px;
    height: 100px;
}
/* Al header (img) le asigno
    -anchura
*/
header img{
    width: 480px;
}

/*Al subtitulo le asigno
    - color del texto a azul..
    - altura anchura.
    - tamaño de la letra.
    - Borde de la letra.
    - Flote a la izquierda.
    - La tipografia de la letra.
*/
#subtitulo{

    color: rgb(22, 156, 214);
    padding-top: 70px;
    height: 60px;
    width: 1190px;
    float: left;
    font-size: 40px;
    font-weight:bold;
    font-family:PTSans-Italic;
}

/*Al la navegacionArriba le asigno
    - anchura.
    - Flote a la Derecha.
    - La tipografia de la letra.
    - Margen superior.
*/
#navegacionArriba{
    margin-top: 40px;
    float: right;
    width: 540px;
    font-family: Mr;
}
/*A el inputIzquierda le asigno
    - Flote a la Izquierda.
*/
#inputIzquierda{
    float: right;
}
/*Al la navegacionArriba(input) le asigno
    - anchura.
    - Flote a la izquierda.
    - La tipografia de la letra.
    - Alineacion del texto central.
    - Tamaño del la fuente.
    - Margen izquierdo.
    - Color de fondo blanco.
    - Borde nulo.
*/
#navegacionArriba input{
    float: left;
    width: 60px;
    text-align: center;
    border: none;
    background-color: white;
    font-size: 15px;
    margin-left: 10px;
}
#nav1{
    margin-top: 20px;
    float: left;
    width: 100%;
    padding: 0px;
}
#nav1 ul {
    padding-left: 100px;
}

/*Al PrimerLi le asigno(Es el primer li del nav 1)
    - redondeo de los bordes.
    - Tamaño del la fuente.
    - margen a la izquierda.
*/
#PrimerLi{
    border-radius: 5px;
    margin-left: -100px;
    font-size: 33px;
}
/*Al RestoLi le asigno(Es el resto de li del nav 1)
    - redondeo de los bordes.
    - Tamaño del la fuente.
    - margen a la izquierda.
*/
.RestoLi{
    font-size: 33px;
    border-radius: 5px;
    margin-left: 6px;
}
/*Al a de nav1 le asigno
    - Color del texto en gris.
    - Descoracion del texto ninguna.
*/
a{
    color: rgb(156, 150, 150);
    text-decoration: none;
}
/*Al a:hover de nav1 le asigno
    - Cuando pasas el ratón por encima el color del texto se cambia
        a negro.
*/
a:hover{
    color: black;
}

/*Al nav2 le asigno
    - Altura
    - Anchura
    - Flote a la izquierda
    - Color del texto blanco
    - Borde de color negro con una anchura especifica
    - La tipografia del texto
*/
#nav2{
    height: 46px;
    width: 730px;
    float: left;
    color: white;
    border-bottom: 2px solid black;
    font-family:PTSans-Italic;
}

/*
Al nav2 ul le asigno
    - Margin izquierda
    - Margin arriba
*/
#nav2 ul {
    padding-left: 0px;
    margin-top: 18px;
}
/*Al navSecuncun le asigno
    - Altura.
    - Anchura.
    - Color del fondo Blanco.
    - Color del texto Gris.
    - Anchura del texto.
    - El margen a la izquierda de 0.
    - La tipografia del texto.
    - redondeado del borde la parte superior izquierda y derecha.
    - Disposicion en linea de los elementos.
    - El ancho del los elementos.
*/
.navSecuncun{
    margin-left: 0vh;
    display: inline;
    background-color: rgb(232, 227, 227);
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
    color: rgb(109, 105, 105);
    width: 20vh;
    font-weight:  bolder;
}

/*A la flechaGris le asigno
    - Posicion absoluta para que se ponga encima de todos los elementos.
    - Para asignar el eje y uso el margen de altura
    - Para asignar el eje x uso el margen a la izquierda
*/
#flechaGris{
    position: absolute;
    margin-left: 92px;
    margin-top: 9.2px;
}

/*Al SeleccionaIdioma le asigno
    - Tipografia del texto.
    - Alura, Anchura.
    - Flote a la izquierda.
    - Color de fondo blanco.
    - Color de borde negro y una anchura.
    - Tamaño del texto

*/
#SeleccionaIdioma{
    font-family:PTSans-Italic;
    font-size: 20px;
    height: 46px;
    width: 450px;
    float: left;
    background-color: white;
    border-bottom: 2px solid black;
    
}

/*
Al seleccionaIdioma (imput) le asigno
    - La tipografia.
    - Margen arriba;

*/
#SeleccionaIdioma input{
    font-family:PTSans-Italic;
    margin-top: 10px;
}
/*
Al SeleccionarIdioma p
    - Margen izquierda
    - Margen arriba
    - Ancho
    - flota izquierda
*/
#SeleccionaIdioma p{
    margin-left: 240px;
    margin-top: 20px;
    width: 20%;
    float: left;
}
#SeleccionaIdioma input{
    font-size: 20px;
}
/*Al SeleccionaIdioma input:(hover) le asigno
    - Cuando pasas el raton por encima el borde se cambia de color
        a gris.

*/
#SeleccionaIdioma input:hover{
    border: grey solid;
}
/*
Al botonEn le asigno
    - Margen izquierda
    - Margen arriba
    - Borde curvo en la parte superior izquierda
    - Borden curvo en la parte inferior izquierda
    - Borde nulo ("Para que el resto de inputs se acerquen")
*/
#botonEn{
    margin-left: 9px;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

/*Al botonCa le asigno
    - Margen a la izquierda
    - Margen arriba.
    - Borde nulo ("Para que el resto de inputs se acerquen")
*/
#botonCa{
    margin-left: -5px;
    margin-top: 20px;
    border: none;
}

/*
Al botonEs le asigno
    - Margen izquierda
    - Margen arriba
    - Borde curvo en la parte superior derecha
    - Borden curvo en la parte inferior derecha
    - Borde nulo ("Para que el resto de inputs se acerquen")
*/
#botonEs{
    margin-left: -5px;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}

/*
al nav li le asigno
    - Disposicion en linea
    - margen izquierda
    - Color del texto gris
    - Color del fondo gris clariro
    - margen interior

*/

nav li{
    display: inline;
    background-color: rgb(210, 204, 204);
    margin-left: 1vh;
    color: rgb(109, 105, 105);
    padding: 4px;
}
/*
Al nav li:hover le asigno
    - Cunado paso el raton por encima el texto se pone en negro
*/

nav li:hover{
    color: black;
}
/*
Al nav2 li:hover le asigno
    - Cunado paso el raton por encima el texto se pone en negro 
        y se pone el texto con mayor grosor
*/
#nav2 li:hover{
    color: black;
    font-weight:bolder;

}

/*
Al articulo 1 le asigno
    - Alutra
    - Anchura
    - Flota a la izquierda para que el resto de elementos choquen con el
*/

#articulo1{
    height: 340px;
    width: 890px;
    float: left;
}

/*
al tituloArticulo le asigno
    - Margen arriba para que no choque con el techo
    - Flote a la izquierda
    - Aumento el tamaño de la letra
    - Cambio el color del texto a azul
    - Cambio la anchura
    - Pongo margen abajo para que no choque el titulo con el resto del texto
    - Aumento el grosor de las letras
*/
#tituloArticulo{
    margin-top: 40px;
    float: left;
    font-size: 40px;
    color: rgb(22, 156, 214);
    width: 250px;
    margin-bottom: 20px;
    font-weight:  bolder;
    
}

/*
al textArticulo le asigo("Uso clase por que son variaos elementos")
    - Cambio la tipografia
    - Flota a la izquierda
    - Ancho
    - Texto alineado a la izquierda
    - Aumento el tamaño del texto
    - marger abajo
    - margen arriba

*/
.textArticulo{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    float: left;
    text-align: left;
    width: 667px;
    padding-left: 10px;
    font-size: 18.2px;
    margin-bottom: 40px;
}
/*
al articulo1 (img)
    - Flota a la izquierda
    - Pongo margen a la derecha
    - Le pongo una anchura concreta
*/
#articulo1 img{
    float: right;
    margin-right: 2vh;
    width: 20%;
}

/*
Al articulo2 le asigno
    - Un altura especifica
    - Una Anchura especifica
    - Flota a la izquierda
*/
#articulo2{
    height: 170px;
    width: 435px;
    float: left;
}

/*
Al tituloArticulo2 le asigno
    - Aumento el tamaño del texo
    - Cambio el color del texto a azul
    - Anchura especifica
    - Aumento el grosor del texto
*/
#tituloArticulo2{
    font-size: 25px;
    color: rgb(22, 156, 214);
    width: 98%;
    font-weight:  bolder;
}

/*
Al texArticulo2 le asigno
    - Le cambio la tipografia
    - Flote a la izquierda
    - Texto alineado a la izquierda
    - Anchura especifica
    - Aumento el tamaño del texto
*/
#textArticulo2{
    font-family: 'Times New Roman', Times, serif;
    float: left;
    text-align: left;
    width: 80%;
    font-size: 18.2px;
}

/*
Al articulo3 le asigna
    - Alutra especifica
    - Anchura especifica
    - Flote a la izquierda
*/
#articulo3{
    height: 170px;
    width: 435px;
    float: left;
}

/*
Al articulo3 (h2) le asigno
    - Aumento el tamaño de letra
    - Cambio el color del texto a azul.
    - Aumento el grosor del texto
*/
#articulo3 h2{
    font-size: 25px;
    color: rgb(22, 156, 214);
    font-weight:  bolder;
}
/*
Al articulo3 (p) le asigno
    - Aumento el tamaño del texto
    - Cambio la tipografia
*/
#articulo3 p{
    font-size: 18.2px;
    font-family: 'Times New Roman', Times, serif;
}

/*
Al textoAzul le asigno (esta clase es para todos aquellos textos que quiero en azul)
    - Cambio el color del texto a azul
    - Aumento el grosor del texto
*/
.textoAzul{
    color: rgb(8, 137, 137);
    font-weight:bolder;
}

/*
Al articulo4 le asigno
    - Anchura especifica
    - Flote a la izquierda
    - Aumento la funete del texto 
*/
#articulo4{
    width: 880px;
    float: left;
    font-size: 18.2px;
}

/*
Al articulo4 (h2) le asigno
    - Cambio el color del texto
    - Aumento el tamaño del texto
    - Aumento el grosor del texto
    - Marger abajo

*/
#articulo4 h2{
    color: rgb(22, 156, 214);
    font-weight:  bolder;
    font-size: 25px;
    margin-bottom: 20px;
  }

  /*
  Al articulo4 (p) le asigno
    - Aumento el tamaño del texto
    - Marger abajo
    - cambio la tipografia
    */
  #articulo4 p{
    font-size:19px;
    font-weight:normal;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
  }

  /*
  Al ariculo4 ul (li) le asigno
    - Margen a la izquierda
    - Margen abajo
    - Flota a la izquierda
  */
  #articulo4 ul li{
    margin-left: 13px;
    margin-bottom: 30px;
    float:left;
  }

  /*
  Al articulo4 ul li (h2) le asigno
    - Cambio el color del texto a rojo
    - Aumento el grosor del texto
    - Cambio la tipografia
    - Pongo marger abajo
    - Pongo marge a la izquierda
    - Aumento el tamaño del texto

  */
  #articulo4 ul li h2{
    color: red;
    font-weight:  bolder;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: PTSans-Italic;
    margin-left: 20px;
  }
  /*
  Al articulo4 ul li (p) le asigno
    - Margen a la izquierda
    - Margen a la derecha
  */
  #articulo4 ul li p{
    margin-left: 20px;
    margin-right: 20px;
  }

  /*
  Al articulo4 (ul) le asigno
    - Pongo que los elemento que salen de la caja dejen de verse
    - Margen a 0
    - Pading a 0
  */
  #articulo4 ul{
    overflow:hidden;
    padding:3em;
    margin:0;
    padding:0;
  }

  /*
  Al articulo4 (li) le asigno
    - Quita los formatos
    - Margen a la izquierda
  */
  #articulo4 li{
    list-style:none;
    margin-left: 0px;
    
  }

  /*
  Al articulo4 ul li (a) le asigno
    - Borde curvado
    - quito la decoracion del texto
    - Cambio el color del texto a negro
    - Cambio el fondo de color al rosa
    - Altura especifica
    - Anchura especifica
    - Disposicion en bloke
  */
  #articulo4 ul li a{
    border-radius: 5px;
    text-decoration:none;
    color:#000;
    background:rgb(255, 169, 216);
    display:block;
    height:210px;
    width:280px;
  }
/*Cambio los angulos de los postit*/
#articulo4 ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:rgb(187, 255, 166);
}
/*Cambio los angulos de los postit*/
#articulo4 ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background-color: rgb(251, 255, 172);
}
/*Cambio los angulos de los postit*/
#articulo4 ul li:nth-child(4n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background-color: rgb(125, 210, 231);
  }
/*Cambio los angulos de los postit*/
#articulo4 ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

/*Cuando pasas el raton por encima hace zoom al texo y le pone sombreado de color negro y aumenta el tamaño*/
#articulo4 ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
#articulo4 ol{
    text-align:center;
}
#articulo4 ol li{
    display:inline;
    padding-right:1em;
}
#articulo4 ol li a{
    color:#fff;
}

.articulo4pSolitaria{
    margin-left: 20px;
    margin-top: -40px;
    font-family: 'Times New Roman', Times, serif;
}
#subtituloArticulo4{
    margin-left: 20px;
    font-size: 60px;
    color: rgb(8, 137, 137);
    margin-bottom: 40px;
}

#CaizetaRe{
    margin-top: 20px;
    width: 300px;
    float: right;
    height: 124px;
    background-color: rgb(90, 177, 192);
    color: white;
    border-radius: 5px;
}
    #CaizetaRe p{
        margin-top: 20px;
        color: rgb(161, 198, 204);
        font-family: 'Times New Roman', Times, serif;
        padding-left: 38px;
    }
    #CaizetaRe em{
        color:blue;
        font-family: 'Times New Roman', Times, serif;
    }
    #botonCaizetaRe{
        border-radius: 5px;
        border:solid 1px white;
        background-color: rgb(115, 183, 115);
        color: white;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 63px;
        padding-right: 63px;
        margin-top: 20px;
        margin-left: 35px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

#Caixeta{
    margin-top: -180px;
    margin-left: 8px;
    border-radius: 5px;
    width: 300px;
    float: right;
    height: 380px;
    background-color: rgb(199, 194, 194);
    font-family: PTSans-Italic;
}
    #Caixeta img{
        padding-top: 13px;
        padding-left: 13px;
        width: 15%;
    }
    #Caixeta p{
        padding-top: 19px;
        margin-left: 3px;
        text-align: left;
        font-size: 15px;
        width: 75%;
        float: right;
    }
    #Caixeta em{
        font-weight: bold;
        color: black;
    }

#CaixetaW{
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 5px;
    width: 300px;
    float: right;
    height: 550px;
    float: left;
    background-color: rgb(251, 255, 172);
    color: black;
}

#CaixetaW h2{
    color: rgb(141, 35, 35);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 20px;
}
#CaixetaW img{
    
    width: 10%;
    float: left;
    margin-left: 16px;
    margin-top: 1px;
    
}
#CaixetaW p{
    margin-top: 10px;
    text-align: left;
    width: 80%;
    float: right;
}
#CaixetaW em{
    color: rgb(85, 174, 145);
    font-weight: bold;
}
.CaixetaWTexto1{
    font-family: PTSans-Italic;
}
#CaixetaWTexto2{
    font-family: 'Times New Roman', Times, serif;
}
#textoNegrita{
    color: rgb(2, 4, 45);
    font-weight: bold;
}

/*
Al Identi le asigno
    - Margen arriba
    - Margen izquierda
    - Borde redondeado
    - Anchura especifica
    - Altura especifica
    - Flote a la derceha
    - Cambio el color del texo a blanco
    - Cambio el color del fondo a blanco
    - Cambio la tipografia
*/
#Identi{
    margin-top: 60px;
    margin-left: 8px;
    border-radius: 5px;
    width: 300px;
    float: right;
    height: 20vh;
    color: white;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
/*
Al IdentiA le asigno
    - Borde redondeado
    - Color de fondo a azul
    - Anchura especifica
    - Flota a la izquierda
*/
#IdentiA{
    border-radius: 10px;
    background-color: rgb(120, 139, 222);
    width: 100%;
    float: left;
}
/*
Al IdentiA (img) le asigno
    - Flote a la izquierda
    - Anchura especifica
*/
#IdentiA img{
    float: left;
    width: 20%;
}

/*Al IdentiA (p)
    - Flota derecha
    - Anchura especifica
*/
#IdentiA p{
    float: right;
    width: 80%;
}

/*
al identiB le asigno
    - Margen arriba
    - Anchura especifica
    - Borde redondeado
    - Flota a la izquierda
    - Cambio el color del fondo a azul
*/
#IdentiB{
    margin-top: 3%;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(72, 255, 255);
    float: left;
}

/*
Al IdentiB (img) le asigno
    - Flote a la izquierda
    - Anchura especifica
*/
#IdentiB img{
    float: left;
    width: 15%;

}

/*
Al identiB (p) le asigno
    - Flote a la izquierda
    - Anchura especifica
    - Texto alineado al centro
    - Cambio el grosor del text
    - margen interior a la derecha
*/
#IdentiB p{
    float: right;
    width: 80%;
   text-align: center;
   padding-right: 12px;
   font-weight: bold;
}


/*
Al footer le asigno
    - Cambio el color del fondo a gris
    - Anchura especifica
    - Quito decoracion del texto
    - Texto alineado a la izquierda
    - Altura especifica
    - Cambio la tipografia
*/
footer{
    background-color: rgb(123, 112, 112);
    width: 1190px;
    float: left;
    text-decoration: none;
    text-align: left;
    height: 150px;
    font-family: 'Times New Roman', Times, serif;
}

/*
Al footer li le asigno
    - Margen arriba
*/
footer li{
    margin-top: 5px;
}

/*
Al footer (img) le asigno
    - flote a la izquierda
    - Margen a la derecha
*/
footer img{
    float: left;
    margin-right: 15px;
}

/*
Al foot1 le asigno
    - Margen arriba
    - flote a la izquierda
    - Cambiar el color del fondo a gris
    - Cambiar el color del texto a blanco
    - Margen a la izquierda
*/
#foot1{
    margin-top: 20px;
    float: left;
    background-color: rgb(123, 112, 112);
    color: white;
    list-style:none;
    margin-left: 70px;
}

/*
al foot2 le asigno
    - Margen arriba
    - Flote a la izquierda
    - Cambio el color del fondo a gris
    - Cambio el color del texto a blanco
    - Quito los estilos de las listas
*/
#foot2{
    margin-top: 20px;
    float: left;
    background-color: rgb(123, 112, 112);
    color: white;
    list-style:none;
}

/*
Al f1p le asigno
    - Margen a la izquieda
*/
#f1p{
    padding-left: 80px;
}

/*
al foot3 le asigno
    - Margen izquierda
    - Margen arriba
    - Flote a la izquierda
    - Cambio el color del fondo a gris
    - Cambio el color del texto a blanco
    - Cambio el espaciado entre lineas
*/
#foot3{
    margin-left: 80px;
    margin-top: 20px;
    float: left;
    background-color: rgb(123, 112, 112);
    color: white;
    list-style:none;
    line-height:12px;
}
/*
Al foot4 le asigno
    - Margen arriba
    - Flota a la izquierda
    - Cambio el color del fondo a gris
    - Cambio el color del texto a blanco
    - quito el estilo de la lista
    - Texto alineado a la izquierda
*/
#foot4{
    margin-top: 20px;
    float: left;
    background-color: rgb(123, 112, 112);
    color: white;
    list-style:none;
    text-align: left;
}

/*
Al foot5 le asigno
    - Margen arriba
    - Flote a la izquierda
    - Cambio el color de fondo a gris
    - Cambio el color del texo a negro
    - Texto alineado a la derecha
    - Aumento el tamaño del texto
    - 
*/
#foot5{
    margin-top: 20px;
    float: left;
    background-color: rgb(123, 112, 112);
    color: black;
    list-style:none;
    padding-right: 3vh;
    line-height:12px;
    font-size:13px;
    text-align: right;
}

/*
Al foot5Creative le asigno
    - Cambio el color a blanco
*/
#foot5Creative{
    color: white;
}
/*
Al primerPFoot5 le asigno grosor respecto la altura
*/
#primerPFoot5{
    padding-top: 1vh;
}