body{
    margin: auto;
    padding: auto;
    width: 890px;
    
}

header{
    margin-top: 2vh;
    float: left;
    width: 40%;
    height: 10vh;
}
header img{
    width: 100%;
}

#subtitulo{

    padding-top: 1px;
    height: 3vh;
    width: 100%;
    float: left;
    color:rgb(40, 140, 149);
    font-size: 32px;
    font-weight:  bolder;
}
#subtitulo p {
    margin-top: 0px;
}
#navegacionArriba{
    margin-top: 2vh;
    float: right;
    width: 55%;
}
#inputIzquierda{
    float: right;
}
#navegacionArriba input{
    float: left;
    width: 60px;
    text-align: center;
    border: none;
    background-color: white;
    font-size: 15px;
    margin-left: 10px;
}
#nav1{
    float: left;
    width: 100%;
    padding: 0px;
}
#nav1 li{
    font-size: 20px;
    border-radius: 5px;
}
#nav1 ul {
    padding-left: 100px;
}
#navegacionSec{
    height: 4.5vh;
    width: 62%;
    float: left;
    color: white;
    border-bottom: 2px solid black;
}

#nav2{
    float: left;
    width: 100%;
}
#nav2 ul {
    padding-left: 0px;
}
.navSecuncun{
    margin-left: 0vh;
    float: center;
    display: inline;
    background-color: rgb(232, 227, 227);
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
    font-size: 14px;
    color: rgb(109, 105, 105);
    width: 20vh;
    font-weight:  bolder;
   
    
}

#SeleccionaIdioma{
    height: 4.5vh;
    width: 38%;
    float: left;
    background-color: white;
    border-bottom: 2px solid black;
}
#SeleccionaIdioma p{
    margin-left: 12vh;
    margin-top: 2vh;
    width: 20%;
    float: left;
}
#SeleccionaIdioma input:hover{
    border: grey solid;
}

#botonEn{
    margin-left: 1vh;
    margin-top: 2vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}
#botonCa{
    margin-left: -4px;
    margin-top: 2vh;
    border: none;
}
#botonEs{
    margin-left: -4px;
    margin-top: 2vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}

nav{ 
    float: right;
    width: 50%;
}



nav li{
   
    display: inline;
    background-color: rgb(210, 204, 204);
   
    margin-left: 1vh;
    font-size: 19px;
    color: rgb(109, 105, 105);
    padding: 4px;
}

nav li:hover{
    color: black;
}

#nav2 li:hover{
    color: black;
    font-weight:bolder;

}

section{
    margin-top: 2vh;
    background-color: aquamarine;
    height: 160vh;
    width: 70%;
    float: left;
}

article{}

#articulo1{
    height: 30vh;
    width: 100%;
    float: left;
    background-color: white;
    
}

#tituloArticulo{
    font-size: 40px;
    color: rgb(22, 214, 169);
    width: 98%;
    padding-left: 10px;
    margin-top: 0px;
}

#textArticulo{
    float: left;
    text-align: left;
    width: 75%;
    padding-left: 10px;
    font-size: 13.2px;
}

#articulo1 img{
    float: right;
    margin-right: 2vh;
    width: 20%;
}

#articulo2{
    height: 20vh;
    width: 55%;
    float: left;
    background-color: white;
}

#tituloArticulo2{
    font-size: 15px;
    color: rgb(22, 214, 169);
    width: 98%;
    padding-left: 10px;
    margin-top: 0px;
}
#textArticulo2{
    float: left;
    text-align: justify;
    width: 98%;
    font-size: 15px;
}

#articulo3{
    height: 20vh;
    width: 45%;
    float: left;
    background-color:white;
}
#articulo3 h2{
    margin-top: 2px;
    color: rgb(22, 214, 169);
}
#articulo3 p{
    font-size: 15px;
}

#articulo4{
    height: 20vh;
    width: 100%;
    float: left;
    background-color: white;
   
}
#articulo4 h2{
   color:rgb(0, 201, 201);
}



aside{
    background-color: rgb(139, 85, 85);
    width: 29%;
    float: right;
    height: 100vh;
}

#CaizetaRe{
    margin-top: 3vh;
    width: 29%;
    float: right;
    height: 13vh;
    background-color: rgb(90, 177, 192);
    color: white;
    border-radius: 5px;
}
#CaizetaRe p{
    color: rgb(161, 198, 204);
    font-family: 'Times New Roman', Times, serif;
    padding-left: 8px;
}
#CaizetaRe em{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
}
    #botonCaizetaRe{
        border-radius: 5px;
        border:solid 1px white;
        background-color: rgb(115, 183, 115);
        color: white;
        font-size: 30px;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 6vh;
        padding-right: 6vh;
        margin-top: 2vh;
        margin-left: 1.5vh;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

#Caixeta{
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 5px;
    width: 29%;
    float: right;
    height: 40vh;
    float: left;
    background-color: rgb(199, 194, 194);
    color: white;
}
#Caixeta img{
    padding-top: 8px;
    padding-left: 6px;
    width: 20%;
    float: left;
}
#Caixeta p{
    padding-top: 6px;
    margin-left: 3px;
    text-align: left;
    font-size: 12px;
    width: 75%;
    float: right;
    font-family:PTSans;
}
#Caixeta em{
    font-weight: bold;
    color: black;
}

#CaixetaW{
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 5px;
    width: 29%;
    float: right;
    height: 60vh;
    float: left;
    background-color: rgb(251, 255, 172);
    color: black;
}
#CaixetaW h2{
    color: rgb(141, 35, 35);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#CaixetaW img{
    
    width: 10%;
    margin-top: 0%;
    float: left;
    
}
#CaixetaW p{
    text-align: left;
    margin-top: 0%;
    padding-top: 1px;
    width: 90%;
    float: right;
}
#CaixetaW em{
    color: rgb(85, 174, 145);
    font-weight: bold;
}
#textoNegrita{
    color: rgb(2, 4, 45);
    font-weight: bold;
}


#Identi{
    margin-top: 60px;
    margin-left: 8px;
    border-radius: 5px;
    width: 29%;
    float: right;
    height: 20vh;
    float: left;
    color: white;
    background-color: white;
}
#IdentiA{
    border-radius: 10px;
    background-color: rgb(120, 139, 222);
    width: 100%;
    float: left;
}
#IdentiA img{
    float: left;
    width: 20%;
}
#IdentiA p{
    float: right;
    width: 80%;
}
#IdentiB{
    margin-top: 3%;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(72, 255, 255);
    float: left;
}
#IdentiB img{
    float: left;
    width: 15%;

}
#IdentiB p{
    float: right;
    width: 80%;
   text-align: center;
   padding-right: 12px;
   font-weight: bold;
}

footer{
    background-color: rgb(123, 112, 112);
    width: 100%;
    height: 12vh;
    float: left;
   
}

#foot1{
    float: left;
    background-color: rgb(123, 112, 112);
    width: 20%;
    height: 100%;
    color: white;
}
#foot1 p{
    
    text-align: right;
    line-height:1px;
}
#foot1 img{
    padding-top: 1vh;
    padding-left: 6vh;
    float: left;
}
#foot2{
    float: left;
    background-color: rgb(123, 112, 112);
    width: 11%;
    height: auto;
    color: white;
}
#foot2 p{
    float: right;
    line-height:1px;
}
#foot2 img{
    padding-top: 1vh;
    padding-left: 1vh;
    float: left;
    
}
#foot3{
    float: left;
    background-color: rgb(123, 112, 112);
    width: 20%;
    height: auto;
    color: white;
}
#foot3 p{
    width: 70%;
    line-height:1px;
    text-align: left;
    float: right;
    font-size: 11px;
}
#foot4{
    float: left;
    background-color: rgb(123, 112, 112);
    width: 14%;
    height: auto;
    color:white;
}
#foot4 p{
    float: right;
    line-height:1px;
}
#foot4 img{
    padding-top: 1vh;
    padding-left: 1vh;
    float: left;
    
}
#foot5{
    float: left;
    background-color: rgb(123, 112, 112);
    width: 35%;
    height: auto;
    text-align: right;
}
#foot5Creative{
    color: white;
}
#foot5 p{
    padding-right: 3vh;
    line-height:1px;
    font-size:12px;
}
#primerPFoot5{
    padding-top: 1vh;
}