*{
    margin: auto;
}

@font-face{
      font-family: PTSans-Italic;
      src: url("fonts/PT_Sans/PTSans-Italic.ttf") format("truetype");
}

body{
    margin: auto;
    padding: auto;
    width: 1190px; 
}

header{
    margin-top: 2vh;
    float: left;
    width: 540px;
    height: 100px;
}
header img{
    width: 480px;
}

#subtitulo{

    color: rgb(22, 156, 214);
    padding-top: 70px;
    height: 60px;
    width: 1190px;
    float: left;
    font-size: 40px;
    font-weight:bold;
    font-family:PTSans-Italic;
}
#subtitulo p {
    margin-top: 0px;
}
#navegacionArriba{
    margin-top: 40px;
    float: right;
    width: 540px;
    font-family: Mr;
}
#inputIzquierda{
    float: right;
}
#navegacionArriba input{
    float: left;
    width: 60px;
    text-align: center;
    border: none;
    background-color: white;
    font-size: 15px;
    margin-left: 10px;
}
#nav1{
    margin-top: 20px;
    float: left;
    width: 100%;
    padding: 0px;
}
#nav1 ul {
    padding-left: 100px;
}
#PrimerLi{
    border-radius: 5px;
    margin-left: -100px;
    font-size: 33px;
}
#RestoLi {
    font-size: 33px;
    border-radius: 5px;
    margin-left: 6px;
}
a{
    color: rgb(156, 150, 150);
    text-decoration: none;
}
a:hover{
    color: black;
}

#nav2{
    height: 46px;
    width: 730px;
    float: left;
    color: white;
    border-bottom: 2px solid black;
    font-family:PTSans-Italic;
}
#nav2 ul {
    padding-left: 0px;
    margin-top: 18px;
}
.navSecuncun{
    margin-left: 0vh;
    display: inline;
    background-color: rgb(232, 227, 227);
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
    color: rgb(109, 105, 105);
    width: 20vh;
    font-weight:  bolder;
}
#flechaGris{
    position: absolute;
    margin-left: 92px;
    margin-top: 9.2px;
}

#SeleccionaIdioma{
    font-family:PTSans-Italic;
    font-size: 20px;
    height: 46px;
    width: 450px;
    float: left;
    background-color: white;
    border-bottom: 2px solid black;
    
}
#SeleccionaIdioma input{
    font-family:PTSans-Italic;
    margin-top: 10px;
}
#SeleccionaIdioma p{
    margin-left: 240px;
    margin-top: 20px;
    width: 20%;
    float: left;
}
#SeleccionaIdioma input{
    font-size: 20px;
}
#SeleccionaIdioma input:hover{
    border: grey solid;
}

#botonEn{
    margin-left: 9px;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}
#botonCa{
    margin-left: -5px;
    margin-top: 20px;
    border: none;
}
#botonEs{
    margin-left: -5px;
    margin-top: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}

nav{ 
    float: right;
    width: 50%;
}



nav li{
    display: inline;
    background-color: rgb(210, 204, 204);
    margin-left: 1vh;
    color: rgb(109, 105, 105);
    padding: 4px;
}

nav li:hover{
    color: black;
}

#nav2 li:hover{
    color: black;
    font-weight:bolder;

}

#articulo1{
    height: 340px;
    width: 890px;
    float: left;
}
#tituloArticulo{
    margin-top: 40px;
    float: left;
    font-size: 40px;
    color: rgb(22, 156, 214);
    width: 250px;
    margin-bottom: 20px;
    font-weight:  bolder;
    
}
#textArticulo{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    float: left;
    text-align: left;
    width: 667px;
    padding-left: 10px;
    font-size: 18.2px;
    margin-bottom: 40px;
}
#articulo1 img{
    float: right;
    margin-right: 2vh;
    width: 20%;
}

#articulo2{
    height: 170px;
    width: 435px;
    float: left;
}

#tituloArticulo2{
    font-size: 25px;
    color: rgb(22, 156, 214);
    width: 98%;
    font-weight:  bolder;
}
#textArticulo2{
    font-family: 'Times New Roman', Times, serif;
    float: left;
    text-align: left;
    width: 80%;
    font-size: 18.2px;
}

#articulo3{
    height: 170px;
    width: 435px;
    float: left;
}
#articulo3 h2{
    font-size: 25px;
    color: rgb(22, 156, 214);
    font-weight:  bolder;
}
#articulo3 p{
    font-size: 18.2px;
    font-family: 'Times New Roman', Times, serif;
}
#textoAzul{
    color: rgb(8, 137, 137);
    font-weight:bolder;
}

#articulo4{
    width: 880px;
    float: left;
    font-size: 18.2px;
}
#articulo4 h2{
    color: rgb(22, 156, 214);
    font-weight:  bolder;
    font-size: 25px;
    margin-bottom: 20px;
  }
  #articulo4 p{
    font-size:19px;
    font-weight:normal;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  #articulo4 ul li{
    margin-left: 13px;
    margin-bottom: 30px;
    float:left;
  }

  #articulo4 ul li h2{
    color: red;
    font-weight:  bolder;
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: PTSans-Italic;
    margin-left: 20px;
  }
  #articulo4 ul li p{
    margin-left: 20px;
    margin-right: 20px;
  }

  #articulo4 ul{
    overflow:hidden;
    padding:3em;
    margin:0;
    padding:0;

  }
  #articulo4 li{
    list-style:none;
    margin-left: 0px;
    
  }
  
  #articulo4 ul li a{
    
    border-radius: 5px;
    text-decoration:none;
    color:#000;
    background:rgb(255, 169, 216);
    display:block;
    height:210px;
    width:280px;
  }

#articulo4 ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:rgb(187, 255, 166);
}
#articulo4 ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background-color: rgb(251, 255, 172);
}
#articulo4 ul li:nth-child(4n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background-color: rgb(125, 210, 231);
  }
#articulo4 ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
#articulo4 ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
#articulo4 ol{
    text-align:center;
}
#articulo4 ol li{
    display:inline;
    padding-right:1em;
}
#articulo4 ol li a{
    color:#fff;
}

#articulo4pSolitaria{
    margin-left: 20px;
    margin-top: -40px;
    font-family: 'Times New Roman', Times, serif;
}
#subtituloArticulo4{
    margin-left: 20px;
    font-size: 60px;
    color: rgb(8, 137, 137);
    margin-bottom: 40px;
}

#CaizetaRe{
    margin-top: 20px;
    width: 300px;
    float: right;
    height: 124px;
    background-color: rgb(90, 177, 192);
    color: white;
    border-radius: 5px;
}
    #CaizetaRe p{
        margin-top: 20px;
        color: rgb(161, 198, 204);
        font-family: 'Times New Roman', Times, serif;
        padding-left: 38px;
    }
    #CaizetaRe em{
        color:blue;
        font-family: 'Times New Roman', Times, serif;
    }
    #botonCaizetaRe{
        border-radius: 5px;
        border:solid 1px white;
        background-color: rgb(115, 183, 115);
        color: white;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 63px;
        padding-right: 63px;
        margin-top: 20px;
        margin-left: 35px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

#Caixeta{
    margin-top: -180px;
    margin-left: 8px;
    border-radius: 5px;
    width: 300px;
    float: right;
    height: 380px;
    background-color: rgb(199, 194, 194);
    color: white;
    font-family: PTSans-Italic;
}
    #Caixeta img{
        padding-top: 13px;
        padding-left: 13px;
        width: 15%;
    }
    #Caixeta p{
        padding-top: 19px;
        margin-left: 3px;
        text-align: left;
        font-size: 15px;
        width: 75%;
        float: right;
    }
    #Caixeta em{
        font-weight: bold;
        color: black;
    }

#CaixetaW{
    margin-top: 20px;
    margin-left: 8px;
    border-radius: 5px;
    width: 300px;
    float: right;
    height: 550px;
    float: left;
    background-color: rgb(251, 255, 172);
    color: black;
}

#CaixetaW h2{
    color: rgb(141, 35, 35);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 20px;
}
#CaixetaW img{
    
    width: 10%;
    float: left;
    margin-left: 16px;
    margin-top: 1px;
    
}
#CaixetaW p{
    margin-top: 10px;
    text-align: left;
    width: 80%;
    float: right;
}
#CaixetaW em{
    color: rgb(85, 174, 145);
    font-weight: bold;
}
#CaixetaWTexto1{
    font-family: PTSans-Italic;
}
#CaixetaWTexto2{
    font-family: 'Times New Roman', Times, serif;
}
#textoNegrita{
    color: rgb(2, 4, 45);
    font-weight: bold;
}


#Identi{
    margin-top: 60px;
    margin-left: 8px;
    border-radius: 5px;
    width: 300px;
    float: right;
    height: 20vh;
    color: white;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
#IdentiA{
    border-radius: 10px;
    background-color: rgb(120, 139, 222);
    width: 100%;
    float: left;
}
#IdentiA img{
    float: left;
    width: 20%;
}
#IdentiA p{
    float: right;
    width: 80%;
}
#IdentiB{
    margin-top: 3%;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(72, 255, 255);
    float: left;
}
#IdentiB img{
    float: left;
    width: 15%;

}
#IdentiB p{
    float: right;
    width: 80%;
   text-align: center;
   padding-right: 12px;
   font-weight: bold;
}

footer{
    background-color: rgb(123, 112, 112);
    width: 1190px;
    float: left;
    text-decoration: none;
    text-align: left;
    height: 150px;
    font-family: 'Times New Roman', Times, serif;
}
footer li{
    margin-top: 5px;
}

footer img{
    float: left;
    margin-right: 15px;}

#foot1{
    
    margin-top: 20px;
    float: left;
    background-color: rgb(123, 112, 112);
    color: white;
    list-style:none;
    margin-left: 70px;
}

#foot2{
    margin-top: 20px;
    float: left;
    background-color: rgb(123, 112, 112);
    color: white;
    list-style:none;
}
#f1p{
    padding-left: 80px;
}

#foot3{
    margin-left: 80px;
    margin-top: 20px;
    float: left;
    background-color: rgb(123, 112, 112);
    color: white;
    list-style:none;
    line-height:12px;
}

#foot4{
    margin-top: 20px;
    float: left;
    background-color: rgb(123, 112, 112);
    color: white;
    list-style:none;
    text-align: left;
}

#foot5{
    margin-top: 20px;
    float: left;
    background-color: rgb(123, 112, 112);
    color: black;
    list-style:none;
    padding-right: 3vh;
    line-height:12px;
    font-size:13px;
    text-align: right;
}
#foot5Creative{
    color: white;
}
#primerPFoot5{
    padding-top: 1vh;
}